<!DOCTYPE html>
<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<style>
.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
.chart rect {
  fill: steelblue;
}

</style>
<svg class="chart"></svg>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript">

var svgWidth = 820, svgHeight = 220;

var svg = d3.select(".chart")
		        .attr("width", svgWidth)
	         	.attr("height", svgHeight);


var rectWidth = 20, rectHeight = 20;

d3.json("/alignment_json", function(error, data) {

	data.forEach(function (value, index, array) {
	    svg.append("g")
	        .attr("transform", "translate(" + 20 * index + ", 0)").append("rect")
    		.attr("id", index.toString())
	        .attr("width", rectWidth)
	        .attr("height", rectHeight)
        	.on("mouseover", function(){
		     d3.select(this)
                        .transition()
	    		.style("fill", "#ccc");
				
			var dIndex = d3.select(this).attr("id");
			d3.select("#dec" + dIndex)
				.transition()
			    	.style("fill", "red");

			})
            	.on("mouseout", function(){
		    d3.select(this)
    			.transition()
    			.style("fill", "steelblue");
				
			var dIndex = d3.select(this).attr("id");
			d3.select("#dec" + dIndex)
				.transition()
			    	.style("fill", "steelblue");
			});

	    svg.append("g")
	        .attr("transform", "translate(" + 20 * index + ", 0)").append("text")
		.attr("x", 10)
		.attr("y", 10)
	    	.attr("dy", ".35em")
		.text(value.s);

	    svg.append("g")
		.attr("transform", "translate(" + 20 * index + ", 40)").append("rect")
		.attr("id", "dec" + index.toString())
		.attr("width", rectWidth)
		.attr("height", rectHeight);

	    svg.append("g")
		.attr("transform", "translate(" + 20 * index + ", 40)").append("text")
		.attr("x", 10)
		.attr("y", 10)
		.attr("dy", ".35em")
		.text(value.d);
	});
});
</script>
</head>
<body>
</body>
</html>
